{% extends 'ecom/layouts/main.html' %}
{% block title %}
Collections | Incrusio
{% endblock title %}
{% block content %}
    <div class="container">
        <section class="py-5 text-center container" style="margin-top: 70px;">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Bestsellers</h1>
                    <p class="lead text-muted">Our most popular products based on sales. Updated hourly.</p>
                    <p>
                        <a href="{% url 'login' %}" class="btn btn-primary my-2">Existing User</a>
                        <a href="{% url 'register' %}" class="btn btn-secondary my-2">Register</a>
                    </p>
                </div>
            </div>
        </section>

        <section class="bg-light py-0.1 my-0.1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mb-3">Categories</h4>
                        <hr style="border-color: #b8bfc2;">
                        {% include 'ecom/inc/message.html' %}
                    </div>

                    {% for item in Categories %}
                    <div class="col-md-4 col-lg-3">
                        <div class="card my-3">
                            {% if item.image %}
                             <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                            {% else %}
                             <img src="/static/images/default-image.jpg" class="card-img-top" alt="Default Image">
                            {% endif %}
                            <a href="{% url 'collections' item.name %}">
                            <div class="card-body">
                                <h5 class="card-title text-primary">{{ item.name }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}